/* for both */
* {
    margin: 0;
    padding: 0;
}
/* for both colors the whole page */
body{
    width: 100vw;   
    height: 100vh;
    background-color: #FFBE92;
}
/* for both color just the header area*/
header{
    background-color: #F4D9A7;
    width: 100vw;
    height: 85vh;
    color: black;
    text-align: center;
    font-size: 1.9rem;
}
/* for both */
h1{
    margin: 5% 0 0 0;
    font-size: 5rem;
}
/* for both */
h2{
    margin: 2% 0 0 1%;
    font-size: 2rem;
}
/* for message board search bar*/
header input{
    width: 30vw;
    height: 5vh;
    margin: 1% 0 0 0;
    padding: 0 0 0 1%;
    border-radius: 20px;
    background-color: black;

}
header > input:hover,
header > input:focus{
    background-color: white;

}
/* for message board search bar*/
::placeholder{
    color: white;
    padding: 0 0 0 1%;
}
/* for account info create post button*/
header button{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 1% 1% 1% 1%;
    margin: 5% 0 2% 0;
    width: 30vw;
    height: 12vh;
    font-size: 1.4rem;
}
header > button:hover{
    background-color: gray;
    color: black;
}
/* for both */
nav{
    color: black;
    padding: 1% 0 0 1%;
    font-size: 1.8rem;
    text-align: left;
}
/* for both margin between header and main */
main{
    margin: 20% 5% 5% 5%;
}
/* for both margin between post and the rest of the page */
article{
    margin: 25% 15% 10% 10%;
    background-color: white;
    border-radius: 20px;
}
p{
    color: black;
    font-size: 1.8rem;
    margin: 0 0 1% 1%;
    text-align: left;
}
article p{
    background-size: 30%  30%;
    padding: 0 8% 0 8%;
    font-size: 3rem;
    margin: 0;
}
h3 {
    padding: 5% 8% 0 8%;
    font-size: 3rem;
    margin: 0;
}
/* for both image for posts*/
article img{

    top: 30%;
    left: 20%;
    padding: 8% 40% 8% 8%;
    width: 45vw;
    height: 55vh;
}
/* for message board edit and delete post button */
article > button{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 1% 1% 1% 1%;
    margin: 5% 5% 5% 10%;
    width: 18vw;
    height: 10vh;
    font-size: 1.2rem;
    gap: 1%;
}
article > button:hover{
    background-color: gray;
    color: black;
}
/* for account info place holder */
main a{
    color: black;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin: 10% 20% 5% 30%; 
    padding: 1% 1% 1% 1%;
}
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  top: 20%;
  left: 25%;
  right: 0;
  bottom: 0;
  width: 50%; 
  height: 50%; 
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_confirm_or_denie{
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}
.choice{
    background-color: black;
    color: white;
    border-radius: 10%;
    padding: 1% 1% 1% 1%;
    margin-left: 20%;
    margin-top: 5%;
    font-size: 1.2rem;
    letter-spacing: 2px;
}
.choice:hover{
    background-color: #888;

}