*{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100vw;
    height: 100vh;
    background-image: url("fall_bird.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
header p{
    color: black;
    font-size: 1.85rem;
    padding: 1% 1% 1% 1%;
    background-color: #FFBE92;
    margin: 2% 50% 2% 1%;
    text-align: center;
}
nav{
    margin: .5% 1% 1% 1%;
    display: flex;

}
nav a{
    color: black;
    font-size: 1.5rem;
    margin: 20px;
    text-decoration: underline;
}
main{
    background-image: linear-gradient(to bottom, 
    #FFBE92 0 50vh,  #F4D9A7 0 100%);
    width: 100%;
    height: 120vh;
    padding: 10px;
}
section{
    color: black;
    font-size: 1.855rem;
    text-align: center;
    padding: 0 0 0 0;
    margin: 50px 0 2% 0;

}
h2.sub1{
    color: black;
    text-align: center;
}
article{
    text-align: left;
    font-size: 1.855rem;
    background-color: white;
    background-size: length 50px;
    padding: 20px;
    margin: 5% 65% 10% 5%;
    display: inline-block;

}
footer{
    background-color: #997258;
    width: 100%;
    height: 10vh;
    margin: 0 0 0 0;
}
