body{
    background-color: #FFBE92;
    background-size: cover;
    width: fit-content;
    height: fit-content;
}
header{
    background-color: #F4D9A7;
    width: 88vw;
    height: 90vh;
    margin: 5% 5% 5% 5%;
    padding: 2% 0 0 0;
}
section h1{
    text-align: center;
    margin: 0 0 0 0;
    font-size: 2.2rem;
}
/*
form{
    margin: 5% 10% 5% 10%;
    font-size: 1.2rem;

}
    */
#username_header{
    margin: 1% 10% 1% 10%;
    font-size: 2rem;
    padding: 1% 1% 1% 1%;


}
#password_header{
    margin: 1% 10% 1% 10%;
    font-size: 2rem;
    padding: 1% 1% 1% 1%;

}
input{
    width: 80%;
    height: 5vh;
    margin: 1% 10% 1% 10%;
}
button{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 1% 1% 1% 1%;
    margin: 5% 70% 1% 30%;
    width: 40%;
    height: 8vh;
    font-size: 1.5rem;
}
button:hover{
    background-color: gray;
    color: black;
}
a{
    color: black;
    font-size: 100%;
    text-decoration: underline;
    margin: 10% 10% 1% 30%; 
}
#invalid_cred_login{
    margin: 1% 1% 1% 40%;
    border-style: solid;
    border-color: red;
    font-size: 2rem;
    width: fit-content;
    height: fit-content;
    padding: 2%;
    display: none;
}
#invalid_cred_create{
    margin: 1% 20% 1% 20%;
    border-style: solid;
    border-color: red;
    font-size: 2rem;
    width: fit-content;
    height: fit-content;
    padding: 2%;
    display: none;
}