<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Information</title>
    <link rel="stylesheet" href="static/style_messageboard_accountinfo.css">
</head>
<body>
    <header>
        <nav>
        <a href="index.html">Home</a>
        <a href="message_board.html">Message Board</a>
        </nav>
        <p>Username: JohnDoe</p>
        <h1 class="header">Welcome to your CTO account</h1>
        <h2 class="header">Here you can create,view,edit, and delete your posts!</h2>
        <button id="create_post">Create Post</button>
    </header>
    <main>
            <article class="posts">
                <h3>Username: John Doe</h3>
                <br>
                <p>
                    Location: Centrala park
                    <br>
                    Time of observation: 10:00 am
                    <br>
                    Date of observation: 6/1/2024
                    <br>
                </p>
                <button class="edit_post">Edit Post</button>
                <button class="delete_post">Delete Post</button>
            </article>
            <article class="posts">
                <h3>Username: John Doe</h3>
                <br>
                <p>
                    Location: Centrala park
                    <br>
                    Time of observation: 10:00 am
                    <br>
                    Date of observation: 6/1/2024
                    <br>
                    <img src="CSS_and_java/fall_bird.jpg" alt="image of a bird">
                </p>
                <button class="edit_post">Edit Post</button>
                <button class="delete_post">Delete Post</button>
            </article>
            <div id="delete_postModal" class="modal">
                <div class="modal_confirm_or_denie">
                    <span class="close">&times;</span>
                    <p>Are yoru sure you want to delete this post?</p>
                    <button id="confirm" class="choice">confirm</button>
                    <button id="cancel" class="choice">cancel</button>
                </div>
            </div>

    </main>
    <script src="static/java_for_nav_account.js"></script>
</body>
</html>