<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit post</title>
    <link rel="stylesheet" href="static/style_edit_create_post.css">
</head>
<body>
    <main>
        <h1>Edit your CTO post</h1>
            <h2>Username: JohnDoe</h2>
            <h3>based on the account that is currently logged in</h3>
        <form id="form" action="">
            <h2 class="fieldname">Locations</h2>
                <h3>Pleas select the location where you were observing the bird</h3>
            <select name="Locations" class="fieldname">
                <option value="Location 1">Adohad</option>
                <option value="Location 2">Brunad</option>
                <option value="Location 3">Bylyn</option>
                <option value="Location 4">Docia</option>
                <option value="Location 5">Erean</option>   
                <option value="Location 6">Frestin</option>
                <option value="Location 7">Holmer</option>
                <option value="Location 8">Marend</option>
                <option value="Location 9">Obelyn</option>
                <option value="Location 10">Pryn</option>
                <option value="Location 11">Ruril</option>
                <option value="Location 12">Ryall</option>
                <option value="Location 13">Tallan</option>
                <option value="Location 14">Vertwall</option>
                <option value="Location 15">Zord</option>
            </select>
            <br>
            <h2 class="fieldname">Date</h2>
                <h2>Please enter the date when you were observing the bird</h2>
            <div id="error_for_date"></div>
            <input type="date" id="date" name="date">
            <br>
            <h2 class="fieldname">Time</h2>
                <h3>Please enter the time when you were observing the bird and the duration of the observation</h3>
                <div id="error_for_time"></div>
            <label for="hour">Hour:</label>
            <input type="number" min="00" max="23" name="hour" id="hour"> 
            <label for="minute">Minute:</label>
            <input type="number" min="00" max="59" name="minute" id="minute">
            <label for="duration">Duration (minutes):</label>
            <input type="number" min="0" name="duration of observation" id="duration">
            <br>
            <h2 class="fieldname">Bird Species</h2>
                <h3>Please select the species of the bird you were observing</h3>
            <select name="species" id="species">
                <option value="Species 1">Blackbird</option>
                <option value="Species 2">Blue Tit</option>
                <option value="Species 3">Goldfinch</option>
                <option value="Species 4">House Sparrow</option>
                <option value="Species 5">Magpie</option>
                <option value="Species 6">Robin</option>
                <option value="Species 7">Sparrow</option>
                <option value="Species 8">Starling</option>
                <option value="Species 9">Wood Pigeon</option>
                <option value="Species 10">other</option>
                <option value="Species 11">unknown</option>
            </select>
            <br>
            <h2 class="ending">Please enter a comment</h2>
                <h3 class="ending">Please enter a comment about the bird you were observing</h3>
            <textarea name="comment" rows="10" cols="10"></textarea>
            <br>
                <h2 class="ending">Add image (optional)</h2>
            <label for="checkboxyes" class="label">Yes</label>
            <input id="checkboxyes" type="checkbox" value="Yes" name="checkbox">
            <input id="image_for_post" type="image" alt="your image">
            <br>
            <button type="submit">Edit post</button>
            <a href="account_info.html">View Account Information</a>
        </form>
    </main>
    <script src="static/java_for_page_validation.js"></script>
</body>
</html>