<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>message board</title>
    <link rel="stylesheet" href="static/style_messageboard_accountinfo.css">
</head>
<body>
    <header>
        <nav>
        <a href="index.html">Home</a>
        <a href="account_info.html">account</a>
        </nav>
        <p>Username: JohnDoe</p>
        <h1 class="header">Welcome to the CTO message board!</h1>
        <br>
        <h2 class="header">Most recent post will be at the top scroll down to see more or <br>
            search post with keyword example: Magpie
        </h2>
        <input type="text" placeholder="search keyword example: Magpie">
    </header>
    <main>
            <article>
                <h3>Username: John Doe</h3>
                <br>
                <p>
                    <br>
                    Location: Centrala park
                    <br>
                    Time of observation: 10:00 am
                    <br>
                    Date of observation: 6/1/2024
                    <br>
                    comment
                    <br>
                </p>
                <img src="#" alt="image of a bird">
                <br>
            </article>
            <article>
                <h3>Username: John Doe</h3>
                <br>
                <p>
                    Location: Centrala park
                    <br>
                    Time of observation: 10:00 am
                    <br>
                    Date of observation: 6/1/2024
                    <br>
                    comment
                    <br>
                </p>
                <img src="static/fall_bird.jpg" alt="image of a bird">
            </article>
    </main>
</body>
</html>