
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
}
header{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    height: 100vh;
    background-image: url("fall_bird.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* second section */
header p{
    color: black;
    font-size: 1.85rem;
    padding: 1% 1% 1% 1%;
    background-color: #FFBE92;
    margin: 0 50% 2% 1%;
    text-align: center;
}
/* navigation */
nav{
    margin: 0 1% 1% 1%;
    display: flex;

}
/* navigation */
nav a{
    color: black;
    font-size: 1.5rem;
    margin: 20px;
    text-decoration: underline;
}

/* main content create account and interact sections */
main{
    background-image: linear-gradient(to bottom, 
    #FFBE92 0 50vh,  #F4D9A7 0 100%);
    width: 100%;
    height: 100%;
    padding: 10px;
    
}
section{
    color: black;
    font-size: 1.855rem;
    text-align: center;
    padding: 1% 1% 1% 1%;
    margin: 5% 0 5% 2%;

}
h4{
    color: black;
    font-size: 1.855rem;
    padding: 0 0 0 0;
    margin: 0 0 0 5%;
    padding: 0;
    display: inline;
    position: absolute;
}
.post{
    text-align: left;
    background-color: white;
    background-size: cover;
    margin: 5% 1% 1% 1%;
    display: inline-flex;
    border-radius: 20px;
    padding: 2% 1% 2% 1%;
}
.post p{
    margin: 7% 5% 5% 5%;
    padding: 5% 1% 5% 1%;
    font-size: 70%;
    display: inline-flex;
}
.post img{
    width: 18vw;
    height: 40vh;
    padding: 15% 2% 5% 2%;
    display: inline-flex;
}
footer{
    background-color: #997258;
    width: 100%;
    height: 20vh;
    margin: 0 0 0 0;
}
#hidden_article{
    display: none;
}